:root {
  --width: 90;
  --height: 130;

  /* usualy same as format size */
  --design-grid-width: 80;
  --design-grid-height: 120;

  --screenscale: 4;
  --printscale: 1.0465;
  --bleed: 3;
  --cropmark: 10;

  --print-width: 210;
  --print-height: 297;

  --line-width: 0.6;
  --font-size: 10;
  --font-size-small: 2.35;
}

@media print {
  @page {
    /* size: A4; */
    margin: 0mm;
  }

  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  line-height: 1.5;
}

@media print {
  body {
  }

  html,
  body {
    width: calc(var(--print-width) * 1mm);
  }
}

.container {
  position: relative;
  margin: 0 auto;
  margin-top: calc((100vh - (var(--height) * var(--screenscale) * 1px))/2);

  width: calc((var(--width) + 2 * var(--bleed)) * var(--screenscale) * 1px);
  height: calc((var(--height) + 2 * var(--bleed)) * var(--screenscale) * 1px);
  /* background-color: red; */
}

@media print {
  .container {
    position: relative;
    margin-top: calc(

        (
          var(--print-height) * 1mm - ((var(--height) + 2 * var(--bleed)) *
                var(--printscale) * 1mm)
        )/2
    );

    width: calc((var(--width) + 2 * var(--bleed)) * var(--printscale) * 1mm);
    height: calc((var(--height) + 2 * var(--bleed)) * var(--printscale) * 1mm);
    /* background-color: red; */
  }
}

.crop-marks {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  border: calc(var(--bleed) * var(--screenscale) * 1px) solid white;
}

@media print {
  .crop-marks {
    border: calc(var(--bleed) * var(--printscale) * 1mm) solid white;
  }
}

.crop-mark {
  position: absolute;
  border: solid black;
  z-index: -1;
}

.crop-mark.vertical {
  position: absolute;
  top: calc(var(--cropmark) * var(--screenscale) * -1px);
  bottom: calc(var(--cropmark) * var(--screenscale) * -1px);
  left: 0;
  right: 0;
  border-width: 0 1px;
}

@media print {
  .crop-mark.vertical {
    top: calc(var(--cropmark) * var(--printscale) * -1mm);
    bottom: calc(var(--cropmark) * var(--printscale) * -1mm);
  }
}

.crop-mark.horizontal {
  position: absolute;
  top: 0;
  left: calc(var(--cropmark) * var(--screenscale) * -1px);
  right: calc(var(--cropmark) * var(--screenscale) * -1px);
  bottom: 0;
  border-width: 1px 0;
}

@media print {
  .crop-mark.horizontal {
    left: calc(var(--cropmark) * var(--printscale) * -1mm);
    right: calc(var(--cropmark) * var(--printscale) * -1mm);
  }
}

.bleed {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: red; */
  overflow: hidden;
}

.crop {
  position: absolute;
  top: calc(var(--bleed) * var(--screenscale) * 1px);
  left: calc(var(--bleed) * var(--screenscale) * 1px);
  right: calc(var(--bleed) * var(--screenscale) * 1px);
  bottom: calc(var(--bleed) * var(--screenscale) * 1px);
  /* background-color: green; */
}

@media print {
  .crop {
    top: calc(var(--bleed) * var(--printscale) * 1mm);
    left: calc(var(--bleed) * var(--printscale) * 1mm);
    right: calc(var(--bleed) * var(--printscale) * 1mm);
    bottom: calc(var(--bleed) * var(--printscale) * 1mm);
  }
}

.frontline {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 0;
  width: 100%;
  border: none;
  border-bottom: calc(var(--line-width) * var(--screenscale) * 1px) solid black;
  margin-top: calc(0px - ((var(--line-width) * var(--screenscale) * 1px) / 2));
}

@media print {
  .frontline {
    border-bottom-width: calc(var(--line-width) * var(--printscale) * 1mm);
    margin-top: calc(0mm - ((var(--line-width) * var(--printscale) * 1mm) / 2));
  }
}

.top {
  top: 0%;
}

.onequarter {
  top: 25%;
}

.center {
  top: 50%;
}

.treequarter {
  top: 75%;
}

.bottom {
  top: 100%;
}

@media print {
  .bottom {
    top: calc(100% - ((var(--line-width) * 1mm) / 2));
  }
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: yellow; */
}

@media print {
  .content {
  }
}

.design-grid {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: calc(var(--design-grid-width) * var(--screenscale) * 1px);
  height: calc(var(--design-grid-height) * var(--screenscale) * 1px);

  /* center the design grid */
  margin-top: calc(
     (var(--height) - var(--design-grid-height)) / 2 * var(--screenscale) * 1px
  );
  margin-left: calc(
     (var(--width) - var(--design-grid-width)) / 2 * var(--screenscale) * 1px
  );

  /* background-color: gray; */
  box-sizing: border-box;
}

@media print {
  .design-grid {
    width: calc(var(--design-grid-width) * var(--printscale) * 1mm);
    height: calc(var(--design-grid-height) * var(--printscale) * 1mm);

    /* center the design grid */
    margin-top: calc(
       (var(--height) - var(--design-grid-height)) / 2 * var(--printscale) * 1mm
    );
    margin-left: calc(
       (var(--width) - var(--design-grid-width)) / 2 * var(--printscale) * 1mm
    );
  }
}

.design-grid-inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  /* 4% left and right */
  margin-left: calc(
    var(--design-grid-height) / 100 * 4 * var(--screenscale) * 1px
  );
  margin-right: calc(
    var(--design-grid-height) / 100 * 4 * var(--screenscale) * 1px
  );

  /* 2% top and bottom */
  margin-top: calc(
    var(--design-grid-height) / 100 * 2 * var(--screenscale) * 1px
  );
  margin-bottom: calc(
    var(--design-grid-height) / 100 * 2 * var(--screenscale) * 1px
  );
  /* background-color: darkgray; */
  box-sizing: border-box;
}

@media print {
  .design-grid-inner {
    /* 4% left and right */
    margin-left: calc(
      var(--design-grid-height) / 100 * 4 * var(--printscale) * 1mm
    );
    margin-right: calc(
      var(--design-grid-height) / 100 * 4 * var(--printscale) * 1mm
    );

    /* 2% top and bottom */
    margin-top: calc(
      var(--design-grid-height) / 100 * 2 * var(--printscale) * 1mm
    );
    margin-bottom: calc(
      var(--design-grid-height) / 100 * 2 * var(--printscale) * 1mm
    );
  }
}

.box {
  font-weight: 800;
  position: absolute;
  height: 25%;
  width: 100%;
  /* background-color: rgba(255, 0, 0, 0.5); */
  font-size: calc(var(--font-size-small) * var(--screenscale) * 1px);
  padding-top: calc(var(--font-size-small) * var(--screenscale) * 1px / 5);
  box-sizing: border-box;
  line-height: 1.2;
}

@media print {
  .box {
    font-size: calc(var(--font-size-small) * var(--printscale) * 1mm);
    padding-top: calc(var(--font-size-small) * var(--printscale) * 1mm / 5);
  }
}

.cap {
  letter-spacing: 0.07em;
}

.title {
  font-size: calc(var(--font-size) * var(--screenscale) * 1px);
  padding-top: calc(var(--font-size) * var(--screenscale) * 1px / 10);
  line-height: 1;
}
@media print {
  .title {
    font-size: calc(var(--font-size) * var(--printscale) * 1mm);
    padding-top: calc(var(--font-size) * var(--printscale) * 1mm / 10);
  }
}
.right {
  text-align: right;
}
