$debug: false;
// $debug: true;

:root {
  --width: 90;
  --height: 130;

  /* usualy same as format size */

  --design-grid-top: 5;
  --design-grid-right: 10;
  --design-grid-bottom: 5;
  --design-grid-left: 10;

  --screenscale: 4;
  --printscale: 1;
  --bleed: 3;
  --cropmark: 10;

  --print-width: 210;
  --print-height: 297;

  --line-width: calc(var(--height) / 200);
  --font-size: calc(var(--width) / 8);
  --font-size-small: calc(var(--width) / 35);
}

@media print {
  @page {
    /* size: A4; */
    margin: 0mm;
  }

  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}

@media print {
  html,
  body {
    width: calc(var(--print-width) * 1mm);
  }
}

.container {
  position: relative;
  margin: 0 auto;
  margin-top: calc((100vh - (var(--height) * var(--screenscale) * 1px))/2);

  width: calc((var(--width) + 2 * var(--bleed)) * var(--screenscale) * 1px);
  height: calc((var(--height) + 2 * var(--bleed)) * var(--screenscale) * 1px);
}

@media print {
  .container {
    position: relative;
    margin-top: calc(

        (
          var(--print-height) * 1mm - ((var(--height) + 2 * var(--bleed)) *
                var(--printscale) * 1mm)
        )/2
    );

    width: calc((var(--width) + 2 * var(--bleed)) * var(--printscale) * 1mm);
    height: calc((var(--height) + 2 * var(--bleed)) * var(--printscale) * 1mm);
  }
}

.cropMarks {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  border: calc(var(--bleed) * var(--screenscale) * 1px) solid white;
}

@media print {
  .cropMarks {
    border: calc(var(--bleed) * var(--printscale) * 1mm) solid white;
  }
}

.cropMark {
  position: absolute;
  border: solid black;
  z-index: -1;
}

.cropMark.vertical {
  position: absolute;
  top: calc(var(--cropmark) * var(--screenscale) * -1px);
  bottom: calc(var(--cropmark) * var(--screenscale) * -1px);
  left: 0;
  right: 0;
  border-width: 0 1px;
}

@media print {
  .cropMark.vertical {
    top: calc(var(--cropmark) * var(--printscale) * -1mm);
    bottom: calc(var(--cropmark) * var(--printscale) * -1mm);
  }
}

.cropMark.horizontal {
  position: absolute;
  top: 0;
  left: calc(var(--cropmark) * var(--screenscale) * -1px);
  right: calc(var(--cropmark) * var(--screenscale) * -1px);
  bottom: 0;
  border-width: 1px 0;
}

@media print {
  .cropMark.horizontal {
    left: calc(var(--cropmark) * var(--printscale) * -1mm);
    right: calc(var(--cropmark) * var(--printscale) * -1mm);
  }
}

.bleed {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @if $debug == true {
    background-color: red;
  }
  overflow: hidden;
}

.crop {
  position: absolute;
  top: calc(var(--bleed) * var(--screenscale) * 1px);
  left: calc(var(--bleed) * var(--screenscale) * 1px);
  right: calc(var(--bleed) * var(--screenscale) * 1px);
  bottom: calc(var(--bleed) * var(--screenscale) * 1px);
}

@media print {
  .crop {
    top: calc(var(--bleed) * var(--printscale) * 1mm);
    left: calc(var(--bleed) * var(--printscale) * 1mm);
    right: calc(var(--bleed) * var(--printscale) * 1mm);
    bottom: calc(var(--bleed) * var(--printscale) * 1mm);
  }
}

.frontline {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 0;
  width: 100%;
  border: none;
  border-bottom: calc(var(--line-width) * var(--screenscale) * 1px) solid black;
  margin-top: calc(0px - ((var(--line-width) * var(--screenscale) * 1px) / 2));
}

@media print {
  .frontline {
    border-bottom-width: calc(var(--line-width) * var(--printscale) * 1mm);
    margin-top: calc(0mm - ((var(--line-width) * var(--printscale) * 1mm) / 2));
  }
}

.top {
  top: 0%;
}

.onequarter {
  top: 25%;
}

.center {
  top: 50%;
}

.treequarter {
  top: 75%;
}

.bottom {
  top: 100%;
}

@media print {
  .bottom {
    top: calc(100% - ((var(--line-width) * 1mm) / 2));
  }
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @if $debug == true {
    background-color: yellow;
  }
}

@media print {
  .content {
  }
}

.designGrid {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: calc(
     (var(--width) - var(--design-grid-left) - var(--design-grid-right)) *
      var(--screenscale) * 1px
  );
  height: calc(
     (var(--height) - var(--design-grid-top) - var(--design-grid-bottom)) *
      var(--screenscale) * 1px
  );

  /* place the design grid */
  margin-top: calc(var(--design-grid-top) * var(--screenscale) * 1px);
  margin-left: calc(var(--design-grid-left) * var(--screenscale) * 1px);

  @if $debug == true {
    background-color: gray;
  }
  box-sizing: border-box;
}

@media print {
  .designGrid {
    width: calc(
       (var(--width) - var(--design-grid-left) - var(--design-grid-right)) *
        var(--printscale) * 1mm
    );
    height: calc(
       (var(--height) - var(--design-grid-top) - var(--design-grid-bottom)) *
        var(--printscale) * 1mm
    );

    /* place the design grid */
    margin-top: calc(var(--design-grid-top) * var(--printscale) * 1mm);
    margin-left: calc(var(--design-grid-left) * var(--printscale) * 1mm);
  }
}

.box {
  font-weight: 800;
  position: absolute;
  height: 25%;
  width: 100%;
  @if $debug == true {
    background-color: rgba(255, 0, 0, 0.5);
  }
  font-size: calc(var(--font-size-small) * var(--screenscale) * 1px);
  padding-top: calc(var(--font-size-small) * var(--screenscale) * 1px / 5);
  box-sizing: border-box;
  line-height: 1.2;
}

@media print {
  .box {
    font-size: calc(var(--font-size-small) * var(--printscale) * 1mm);
    padding-top: calc(var(--font-size-small) * var(--printscale) * 1mm / 5);
  }
}

// .cap {
//   letter-spacing: 0.07em;
// }

h1 {
  font-size: calc(var(--font-size) * var(--screenscale) * 1px);
  margin-top: calc(var(--font-size) * var(--screenscale) * 1px / 10);
  line-height: 1;
}
@media print {
  h1 {
    font-size: calc(var(--font-size) * var(--printscale) * 1mm);
    margin-top: calc(var(--font-size) * var(--printscale) * 1mm / 10);
  }
}
.right {
  text-align: right;
}

p {
  margin: 0;
}
